a {
  color: #673AB7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  color: #212121;
  margin: 0;
  font-family: Ubuntu, Segoe UI, San Francisco, sans-serif;
}

p {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16pt;
  text-rendering: optimizeLegibility;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: geometricPrecision;
}

small {
  display: inline-block;
  margin-bottom: 2em;
}

/*header */
header {
  background-color: #512DA8;
  margin: 0;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

header nav {
  background-color: #673AB7;
  line-height: 3;
}

header nav li {
  list-style: none;
  display: inline-block;
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: bold;
}

header nav li a:hover {
  text-decoration: none;
  transition: 3s;
  color: #FF5722;
}
header h1 {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-left: 2em;
  line-height: 2;
}

#social {
  background-color: white;
  text-align: right;
  padding-right: 10%;
  margin-bottom: 20px;
  margin-top: 3px;
}

#social i {
  color: #FF5722;
  font-size: 2em;
}

/* new content */

#newest {
  margin: 0 auto;
  max-width: 1024px;
  /*border: 1px solid;*/
}

.featured {
  display: inline-block;
  height: 300px;
  width: 30%;
  vertical-align: top;
  margin-left: 2%;
  margin-right: 0;
  background-size: cover;
  background-color: #512DA8;
  text-align: center;
  position: relative;
}

.featured a {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  position: absolute;
  bottom: 0;
  left: 1em;
}

/* List of articles on index */

#list_articles {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1em;
  font-size: 12pt;
}

#list_articles p a {
  color: #727272;
}

hr {
  color: #B6B6B6;
}

.more {
  font-family: serif;
  font-size: .9em;
  color: #FF5722;
}

#paginator {
  margin: 10px auto;
  text-align: center;
}

.paginator-navigation i {
  color: #FF5722;
  padding: 0 1em;
  display: inline-block;
}

.paginator-navigation i:hover {
  text-decoration: none;
}

/* Article */

article {
  margin: 0 auto;
  padding: 1em;
  max-width: 800px;
}

#postTitle {
  font-size: 3em;
  text-transform: uppercase;
  padding-left: 0;
  color: #512DA8;
}

.article-image {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 1em auto;
}

i {
  color: #b6b6b6;
  text-rendering: geometricPrecision;
}

i:hover {
  color: #FF5722;
}

#share a {
  display: inline-block;
  padding-right: 1em;
}

/*Footer */

footer {
  background-color: #D1C4E9;
  margin: 0;
  padding: 1em;
}

footer li {
  list-style: none;
}

.copyright {
  text-align: center;
}
